version: 2.1

parameters:
  backend-url:
    type: string
    default: "https://app.staging2.instawork.com"
    description: "Endpoint to run your test against, default is qa"
  send-slack-notification:
    type: boolean
    default: false
  prompt:
    type: string
    default: 'pass'
    description: "Your prompt to QAtomator"
  target-entry-point:
    type: enum
    default: 'landingPage'
    enum: [ 'landingPage' ]
  qatomate:
    type: boolean
    default: false
    description: "Run QAtomator"
  # Extensions
  steps-limit:
    type: integer
    default: 50
    description: "Number of steps to run in QAtomator"
  prompt-part-1:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 1"
  prompt-part-2:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 2"
  prompt-part-3:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 3"


jobs:
  QAtomate:
    machine:
      image: default
    resource_class: medium
    working_directory: ~/qatomator
    parameters:
    steps:
      - run:
          name: Check version of installed node
          command: |
            node -v
      - checkout
      - run:
          name: Start all docker services
          command: |
            if [[ "$GIT_COMMIT_DESC" =~ "qatomate" ]] || [ << pipeline.parameters.qatomate >> == "true" ]; then
              echo -e "\n\nStarting all services declared in docker-compose.yml\n\n"
              mkdir -p extension/build
              mkdir -p artifacts/downloads
              docker compose up -d
              
              echo -e "\n\nServices started\n\n"
              docker ps
            else
              echo "Conditions not met, skipping"
            fi
      - restore_cache:
          keys:
            - node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Combine Prompt Parts and Replace Variable
          command: |
            if [[ -n "<< pipeline.parameters.prompt-part-1 >>" ]]; then
              PROMPT=""
              echo "<< pipeline.parameters.prompt-part-1 >>"
              echo "<< pipeline.parameters.prompt-part-2 >>"
              echo "<< pipeline.parameters.prompt-part-3 >>"
              echo "STARTING"
              echo $PROMPT
              if [ ! -z "<< pipeline.parameters.prompt-part-1 >>" ]; then
                PROMPT="<< pipeline.parameters.prompt-part-1 >>\n"
              fi
              echo $PROMPT
              if [ ! -z "<< pipeline.parameters.prompt-part-2 >>" ]; then
                addon="<< pipeline.parameters.prompt-part-2 >>\n"
                PROMPT="$PROMPT$addon"
              fi
              echo $PROMPT
              if [ ! -z "<< pipeline.parameters.prompt-part-3 >>" ]; then
                addon="<< pipeline.parameters.prompt-part-3 >>\n"
                PROMPT="$PROMPT$addon"
              fi
              echo "Combined Prompt: $PROMPT"
              sed -i "s/prompt\s*=\s*defaultPrompt/prompt=\`$PROMPT\`/" automator/qatomate.ts
              cat automator/qatomate.ts
            else
              echo "Conditions not met, skipping"
            fi
      - run:
          name: Running QAtomator
          command: |
            export BACKEND_URL="<< pipeline.parameters.backend-url >>"
          
            GIT_COMMIT_DESC=$(git log --format=%B -n 1 $CIRCLE_SHA1)
            echo "GIT_COMMIT_DESC=$GIT_COMMIT_DESC"
            
            sed -i "s/^STEPS_LIMIT\s*=.*/STEPS_LIMIT=<< pipeline.parameters.steps-limit >>/" extension/.env

            if [[ "$GIT_COMMIT_DESC" =~ "qatomate" ]] || [ << pipeline.parameters.qatomate >> == "true" ]
            then
              echo "Initialising extension"
              yarn start
              sleep 15
              
              echo -e "\n\nSetting permissions for artifacts folder to allow writing from docker containers\n\n"
              sudo chmod -R 777 artifacts extension

              echo "QAtomating!"
              yarn ts-node automator/qatomate.ts
              
              echo -e "\n\nSleeping for 10 seconds to let videos be generated\n\n"
              sleep 10
            else
              echo "'qatomate' command not found in commit message. Skipping."
              exit 0
            fi
      #      - run:
      #          name: Ping results on Slack
      #          command: |
      #              if (<< parameters.send-slack-notification >>); then
      #                 node ~/repo/nightwatch/scripts/testSummaryToSlack.js ~/repo/nightwatch/reports $CIRCLE_BUILD_URL $QA_TOOLS_WEBHOOK_URL
      #              fi
      #          when: always
      #      - store_test_results:
      #          path: ~/
      - run:
          name: Zip all contents of artifacts folder
          working_directory: ~/qatomator/artifacts
          command: zip -r artifacts.zip . || true
      - store_artifacts:
          path: ~/qatomator/artifacts

workflows:
  QAtomate:
    # to trigger if prompt and entryPoint is provided above or other alternatives
    #    when:
    #      or:
    #        - and:
    #            - equal: [ master, << pipeline.git.branch >> ]
    #            - equal: [ api, << pipeline.trigger_source >> ]
    #        # Custom backend-url, mainly for demoservers
    #        - not:
    #            equal: [ https://qa.instawork.com, << pipeline.parameters.backend-url >> ]
    jobs:
      - QAtomate
#          send-slack-notification: false
#          context:
#            - Slack
#            - QA

