version: 2.1
# executors:
#   node-browser:
#     docker:
#       - image: cimg/node:20.9.0
# orbs:
#   browser-tools: circleci/browser-tools@1.4.7

parameters:
  backend-url:
    type: string
    default: "https://qa.instawork.com"
    description: "Endpoint to run your test against, default is qa"
  send-slack-notification:
    type: boolean
    default: false
  prompt:
    type: string
    default: 'pass'
    description: "Your prompt to QAtomator"
  target-entry-point:
    type: enum
    default: 'landingPage'
    enum: [ 'landingPage' ]
  qatomate:
    type: boolean
    default: false
    description: "Run QAtomator"
  # Extensions
  steps-limit:
    type: integer
    default: 50
    description: "Number of steps to run in QAtomator"
  prompt-part-1:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 1"
  prompt-part-2:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 2"
  prompt-part-3:
    type: string
    default: ""
    description: "Your prompt to QAtomator in parts - 3"


jobs:
  QAtomate:
    # executor: node-browser
    machine:
      # image: ubuntu-2204:edge
      image: default
      # image: ubuntu-2004:202104-01
      # docker_layer_caching: true
    resource_class: medium
    working_directory: ~/qatomator
    parameters:
    steps:
      # - browser-tools/install-chrome
      # - browser-tools/install-chromedriver
      - run:
          name: Check version of installed node, browser, drivers
          command: |
            # google-chrome --version
            # export PATH="/usr/local/bin/chromedriver:$PATH"
            # chromedriver --version
            node -v
      - checkout
      # - setup_remote_docker
      - run:
          name: Start all services declared in docker-compose.yml
          command: |
            echo -e "\n\nStarting all services declared in docker-compose.yml\n\n"
            mkdir -p extension/build
            docker compose up -d
            
            echo -e "\n\nServices started\n\n"
            docker ps
      - restore_cache:
          keys:
            - node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Combine Prompt Parts and Replace Variable
          command: |
            PROMPT=""
            echo "<< pipeline.parameters.prompt-part-1 >>"
            echo "<< pipeline.parameters.prompt-part-2 >>"
            echo "<< pipeline.parameters.prompt-part-3 >>"
            echo "STARTING"
            echo $PROMPT
            if [ ! -z "<< pipeline.parameters.prompt-part-1 >>" ]; then
              PROMPT="<< pipeline.parameters.prompt-part-1 >>\n"
            fi
            echo $PROMPT
            if [ ! -z "<< pipeline.parameters.prompt-part-2 >>" ]; then
              addon="<< pipeline.parameters.prompt-part-2 >>\n"
              PROMPT="$PROMPT$addon"
            fi
            echo $PROMPT
            if [ ! -z "<< pipeline.parameters.prompt-part-3 >>" ]; then
              addon="<< pipeline.parameters.prompt-part-3 >>\n"
              PROMPT="$PROMPT$addon"
            fi
            echo "Combined Prompt: $PROMPT"
            sed -i "s/prompt\s*=\s*defaultPrompt/prompt=\`$PROMPT\`/" automator/qatomate.ts
            cat automator/qatomate.ts
      - run:
          name: Running QAtomator
          command: |
            GIT_COMMIT_DESC=$(git log --format=%B -n 1 $CIRCLE_SHA1)
            echo "GIT_COMMIT_DESC=$GIT_COMMIT_DESC"
            
            sed -i "s/^STEPS_LIMIT\s*=.*/STEPS_LIMIT=<< pipeline.parameters.steps-limit >>/" extension/.env

            if [[ "$GIT_COMMIT_DESC" =~ "qatomate" ]] || [ << pipeline.parameters.qatomate >> == "true" ]
            then
              echo "Initialising extension"
              yarn start
              sleep 10
              echo "QAtomating!"
              yarn ts-node automator/qatomate.ts

              echo -e "\n\nVideos in container\n\n"
              docker exec -it qatomator-chrome_video-1 ls -la videos/

              echo -e "\n\nDownloaded files\n\n"
              docker exec -it qatomator-chrome-1 ls -la /home/seluser/Downloads/
            else
              echo "'qatomate' command not found in commit message. Skipping."
              exit 0
            fi
      - store_artifacts:
          path: ~/qatomator/artifacts

workflows:
  QAtomate:
    jobs:
      - QAtomate
