version: 2.1
executors:
  node-browser:
    docker:
      - image: cimg/node:20.14.0-browsers
orbs:
  browser-tools: circleci/browser-tools@1.4.7

parameters:
  backend-url:
    type: string
    default: "https://qa.instawork.com"
    description: "Endpoint to run your test against, default is qa"
  send-slack-notification:
    type: boolean
    default: false
  prompt:
    type: string
    default: 'pass'
    description: "Your prompt to QAtomator"
  target-entry-point:
    type: enum
    default: 'landingPage'
    enum: [ 'landingPage' ]


jobs:
  QAtomate:
    executor: node-browser
    resource_class: large
    working_directory: ~/qatomator
    parameters:
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Check version of installed node, browser, drivers
          command: |
            google-chrome --version
            export PATH="/usr/local/bin/chromedriver:$PATH"
            chromedriver --version
            node -v
      - checkout
      - restore_cache:
          keys:
            - node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: node-modules-{{ checksum "yarn.lock" }}
      - run:
          name: Prompting and Running QAtomator
          command: |
            GIT_COMMIT_DESC=$(git log --format=%B -n 1 $CIRCLE_SHA1)
            echo "GIT_COMMIT_DESC=$GIT_COMMIT_DESC"
            if [[ "$GIT_COMMIT_DESC" =~ "qatomate" ]]
            then
              echo "Initialising extension"
              nohup yarn start > qatomator.log 2>&1 &
              sleep 10
              echo "QAtomating!"
              yarn ts-node automator/qatomate.ts
            else
              echo "'qatomate' command not found in commit message. Skipping."
              exit 0
            fi
      #      - run:
      #          name: Ping results on Slack
      #          command: |
      #              if (<< parameters.send-slack-notification >>); then
      #                 node ~/repo/nightwatch/scripts/testSummaryToSlack.js ~/repo/nightwatch/reports $CIRCLE_BUILD_URL $QA_TOOLS_WEBHOOK_URL
      #              fi
      #          when: always
      #      - store_test_results:
      #          path: ~/
      - store_artifacts:
          path: ~/qatomator/artifacts

workflows:
  QAtomate:
    # to trigger if prompt and entryPoint is provided above or other alternatives
    #    when:
    #      or:
    #        - and:
    #            - equal: [ master, << pipeline.git.branch >> ]
    #            - equal: [ api, << pipeline.trigger_source >> ]
    #        # Custom backend-url, mainly for demoservers
    #        - not:
    #            equal: [ https://qa.instawork.com, << pipeline.parameters.backend-url >> ]
    jobs:
      - QAtomate
#          send-slack-notification: false
#          context:
#            - Slack
#            - QA


